<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<html lang="ja"></html>
<title>List Menu | Soundtrack List</title>
<link href="style.css" rel="stylesheet" type="text/css">
<meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<body>
	<div class="all">
	<!--ヘッダー-->
        <%= render "layouts/header.html.erb" %>
			
		<!--タイトル欄-->
		<div class="mainContents">		
			<div class="MainBoxMenu">
				<ul>
                    <div class="mainTab">
                        <% @works.each do |work| %>
							<% if  Seriese.where(work_name: work.name).count == 0 %>
								<li><h2 class="newListTitle"><%= link_to work.showed_name, work_path(work.name) %></h2></li>
							<% else %>
								<label for= <%= work.name %> ><li><h2 class="newListTitle"><%= work.showed_name %></li></label>
								<input type="checkbox" id= <%= work.name %> />
								<div class="hiddenShow">
									<% @serieses.each do |seriese| %>
										<% if Season.where(seriese_name: seriese.name).count == 0 %>
											<li class="side2Main"><%= link_to seriese.showed_name, work_path(seriese.name) %></li>
										<% else %>
											<label for= <%= seriese.name %> ><li class="side2Main"><%= seriese.showed_name %></li></label>
											<input type="checkbox" id= <%= seriese.name %> />
											<div class="hiddenShow">
												<% @seasons.each do |season| %>
													<li class="side3Main"><%= link_to season.showed_name, work_path(season.name) %></li>
												<% end %>
											</div>
										<% end %>
									<% end %>
								</div>
							<% end %>
                        <% end %>
                    </div>
				</ul>
			</div>
		</div>
	</div>
	
</body>
</html>
