<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<html lang="ja"></html>
<title>List Menu | Soundtrack List</title>
<link href="style.css" rel="stylesheet" type="text/css">
<meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
	<div class="all">
		<!--ヘッダー-->
		<%= render "layouts/header.html.erb" %>	
		<!--タイトル欄-->
		<div class="mainContents">		
			<div class="MainBoxMenu">
				<div class="mainTab">
					<ul>
						<li><h2 class="newListTitle"><%= link_to '宇宙よりも遠い場所', work_path('yorimoi') %></h2></li>
						<label for= 'evangelion' >
							<li><h2 class="newListTitle"><%= 'エヴァンゲリオン' %></h2></li>
							<input type="checkbox" id= 'evangelion' >
							<div class="hiddenShow">
								<li class="side2Main"><%= link_to '新世紀エヴァンゲリオン', work_seriese_path('evangelion', 'evangelion_tv') %></li>
							</div>
						</label>
						<label for= 'starwars' >
							<li><h2 class="newListTitle"><%= 'Star Wars' %></label></h2></li>
							<input type="checkbox" id= 'starwars' >
							<div class="hiddenShow">
								<label for= 'mandalorian' >
									<li class="side2Main"><%= 'The Mandalorian' %></li>
									<input type="checkbox" id= 'mandalorian' >
									<div class="hiddenShow">
										<li class="side3Main"><%= link_to 'Season 1', work_seriese_season_path('starwars', 'mandalorian', 'Mando1') %></li>
										<li class="side3Main"><%= link_to 'Season 2', work_seriese_season_path('starwars', 'mandalorian', 'Mando2') %></li>
									</div>
								</label>
							</div>
						</label>
					</ul>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
