<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<html lang="ja"></html>
<title>The Mandalorian S1 | Soundtrack List</title>
<%= stylesheet_link_tag 'application' %>
<meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<body>
	<div class="all">
		<!--ヘッダー-->
		<header class="container">
			  <ul>
				  <li><a href="../soundtrackMenu.html">Main</a></li>
				  <li><a href="../soundtrackListMain.html">Soundtrack List</a></li>
			  </ul>
		</header>
			
		<!--メイン-->
		<div class="mainContents">
			<!--タイトルサイドボックス-->
			<div class="SideBox">
				<ul>
					<label for="listAlbum" id="titleListPhone"><li>Title List</li></label>
					<input type="checkbox" id="listAlbum"/>
					<div class="hiddenShowPhone">
						<div class="SideTab">
							<label for="listSW"><li>Star Wars</li></label>
							<input type="checkbox" id="listSW"/>			
							<div class="hiddenShow">
								<label for="listSWMando"><li class="side2">The Mandalorian</li></label>
								<input type="checkbox" id="listSWMando"/>
									<div class="hiddenShow">
										<li class="side3"><a href="MandalorianS1.html">Season1</a></li>
										<li class="side3"><a href="MandalorianS2.html">Season2</a></li>
									</div>
							</div>
						</div>
					</div>
				</ul>
			</div>

			<!--曲リスト-->
			<div class="MainBox">
				<% before_episode = 0 %>
				<div class="AllList">
					<% @lists.each do |list| %>
						<% if before_episode != list.episode then %>
							<p class="newListTitle"><%= list.episode_title %></p>
							<table>
							<tr class="listData">
								<th class="album">CD</th>
								<th class="number">曲</th>
								<th class="title">タイトル</th>
								<th class="range">使用箇所</th>
								<th class="time">タイミング</th>
								<th class="explanation">場面</th>
								<th class="theme">テーマ</th>
								<th class="supple">補足</th>
							</tr>
							</table>
							<table>
							<tr class="listData">
								<td class="album"><%= list.album %></td>
								<td class="number"><%= list.track %></td>
								<td class="title"><%= list.name %></td>
								<td class="range"><%= list.time %></td>
								<td class="time"><%= list.timing %></td>
								<td class="explanation"><%= list.scene %></td>
								<td class="theme"><%= list.theme %></td>
								<td class="supple"><%= list.other %></td>
							</tr>
							</table>
						<% else %>
							<table>
							<tr class="listData">
								<td class="album"><%= list.album %></td>
								<td class="number"><%= list.track %></td>
								<td class="title"><%= list.name %></td>
								<td class="range"><%= list.time %></td>
								<td class="time"><%= list.timing %></td>
								<td class="explanation"><%= list.scene %></td>
								<td class="theme"><%= list.theme %></td>
								<td class="supple"><%= list.other %></td>
							</tr>
							</table>
						<% end %>
						<% before_episode = list.episode %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
