<!--タイトルサイドボックス-->
<div class="SideBox">
  <ul>
    <label for="listAlbum" id="titleListPhone"><li>Title List</li></label>
      <input type="checkbox" id="listAlbum"/>
      <div class="hiddenShowPhone">
        <div class="SideTab">
          <ul>
            <li><%= link_to '宇宙よりも遠い場所', work_path('yorimoi') %></li>
            <label for= 'evangelion' >
              <li><%= 'エヴァンゲリオン' %></li>
              <input type="checkbox" id= 'evangelion' >
              <div class="hiddenShow">
                <li class="side2"><%= link_to '新世紀エヴァンゲリオン', work_seriese_path('evangelion', 'evangelion_tv') %></li>
              </div>
            </label>
            <label for= 'starwars' >
              <li><%= 'Star Wars' %></label></li>
              <input type="checkbox" id= 'starwars' >
              <div class="hiddenShow">
                <label for= 'mandalorian' >
                  <li class="side2"><%= 'The Mandalorian' %></li>
                  <input type="checkbox" id= 'mandalorian' >
                  <div class="hiddenShow">
                    <li class="side3"><%= link_to 'Season 1', work_seriese_season_path('starwars', 'mandalorian', 'Mando1') %></li>
                    <li class="side3Main"><%= link_to 'Season 2', work_seriese_season_path('starwars', 'mandalorian', 'Mando2') %></li>
                  </div>
                </label>
              </div>
            </label>
          </ul>
        </div>
      </div>
    </label>
  </ul>
</div>