<!--タイトルサイドボックス-->
<div class="SideBox">
    <ul>
        <label for="listAlbum" id="titleListPhone"><li>Title List</li></label>
        <input type="checkbox" id="listAlbum"/>
        <div class="hiddenShowPhone">
            <div class="SideTab">
                <% @works.each do |work| %>
                    <% if  Seriese.where(work_name: work.name).count == 0 %>
                        <li><%= link_to work.showed_name, work_path(work.name) %></li>
                    <% else %>
                        <label for= <%= work.name %> ><li><%= work.showed_name %></li></label>
                        <input type="checkbox" id= <%= work.name %> />
                        <div class="hiddenShow">
                            <% @serieses.each do |seriese| %>
                                <% if Season.where(seriese_name: seriese.name).count == 0 %>
                                    <li class="side2"><%= link_to seriese.showed_name, work_path(seriese.name) %></li>
                                <% else %>
                                    <label for= <%= seriese.name %> ><li class="side2"><%= seriese.showed_name %></li></label>
                                    <input type="checkbox" id= <%= seriese.name %> />
                                    <div class="hiddenShow">
                                        <% @seasons.each do |season| %>
                                            <li class="side3"><%= link_to season.showed_name, work_path(season.name) %></li>
                                        <% end %>
                                    </div>
                                <% end %>
                            <% end %>
                        </div>
                    <% end %>
                <% end %>
            </div>
        </div>
    </ul>
</div>